@use "./variables.scss" as *;

.weather {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 4rem;
  padding: 1.5rem;

  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);

  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;

  &__show {
    opacity: 1;
  }

  &__night {
    background: rgba(74, 82, 102, 0.5);
    color: $secondary-color;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__location {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  &__city {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__temperature {
    display: flex;
    align-items: center;
  }

  &__temperature span {
    font-size: 2.8rem;
    font-weight: 700;
  }

  &__description {
    font-weight: 500;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    margin-left: 0.2rem;
  }
}
