@use "./variables.scss" as *;

.forecast {
	width: 100%;
	background: rgba(255, 255, 255, 0.8);

	border-radius: 0.5rem;
	padding: 0 1rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	&__header {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		font-weight: bold;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 1rem 0;

		font-size: 1.2rem;
		color: #161878;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: center;
		padding: 0.5rem 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		text-align: center;

		&:last-child {
			border-bottom: none;
		}
	}

	&__day {
		font-weight: 500;
	}

	&__temp {
		font-weight: 700;
	}

	&__icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	&__weather {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__description {
		font-size: 0.8rem;
		color: #666;
	}
}